prometheus.remote_write "grafana" {
  endpoint {
    url = "https://prometheus-prod-24-prod-eu-west-2.grafana.net/api/prom/push"
    headers = {
      "Authorization" = "Bearer ${GRAFANA_BEARER_TOKEN}",
    }
  }
}

prometheus.scrape "php_app" {
  targets = [
    {
      url = "http://php_app:80/metrics"
    },
  ]
  forward_to = [prometheus.remote_write.grafana.receiver]
}

prometheus.scrape "cadvisor" {
  targets = [
    {
      url = "http://cadvisor:8080/metrics"
    },
  ]
  forward_to = [prometheus.remote_write.grafana.receiver]
}

prometheus.scrape "node_exporter" {
  targets = [
    {
      url = "http://node-exporter:9100/metrics"
    },
  ]
  forward_to = [prometheus.remote_write.grafana.receiver]
}
