prometheus.scrape "php_app" {
  targets = [ "${PUBLIC_IP}:80" ]
  forward_to = [ prometheus.remote_write.grafana.receiver ]
}

prometheus.remote_write "grafana" {
  endpoint {
    url = "https://prometheus-prod-24-prod-eu-west-2.grafana.net/api/prom/push"
    bearer_token = "${GRAFANA_BEARER_TOKEN}"
  }
}
