prometheus.remote_write "grafana" {
  endpoint {
       name = "hosted-prometheus"
      url  = "https://prometheus-prod-24-prod-eu-west-2.grafana.net/api/prom/push"
  
      basic_auth {
        username = "2528351"
        password = "${GRAFANA_BEARER_TOKEN}"
      }
  }
}

prometheus.scrape "php_app" {
  targets = [
    {
      __address__ = "php_app:80",
      job         = "php_app",
    },
  ]
  forward_to      = [prometheus.remote_write.grafana.receiver]
  job_name        = "php_app"
}

prometheus.scrape "node_exporter" {
  targets = [
    {
      __address__ = "node-exporter:9100",
      job         = "node_exporter",
    },
  ]
  forward_to      = [prometheus.remote_write.grafana.receiver]
  job_name        = "node_exporter"
}

prometheus.scrape "cadvisor" {
  targets = [
    {
      __address__ = "cadvisor:8080",
      job         = "cadvisor",
    },
  ]
  forward_to      = [prometheus.remote_write.grafana.receiver]
  job_name        = "cadvisor"
}